<h2>{{champion.name}} Details</h2>
<div><span>id: </span>{{champion.id}}</div>
<div><span>name: </span>{{champion.name}}</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="champion.name" placeholder="name">
</div>
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let champion of champions">
        <button type="button">
            <span class="badge">{{champion.id}}</span>
            <span class="name">{{champion.name}}</span>
        </button>
    </li>
</ul>