<h2>My Champions</h2>
<ul class="heroes">
    <li *ngFor="let champion of champions">
        <a routerLink="/detail/{{champion.id}}">
            <span class="badge">{{champion.id}}</span> {{champion.name}}
        </a>
        <button type="button" class="delete" title="delete champion" (click)="delete(champion)">x</button>
    </li>
</ul>
<div>
    <label for="new-hero">Champion name: </label>
    <input id="new-hero" #championName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(championName.value); championName.value=''">
        Add champion
    </button>
</div>